{{ define "Index" }}
        {{ template "Header" }}
        {{ template "Menu"  }}
<h2> Registered Users</h2>
<table border="1">
<thead>
<tr>
    <td>ID</td>
    <td>UserName</td>
    <td>EmailId</td>
<td></td>
    <td></td>
    <td></td>
</tr>
</thead>
<tbody>
{{ range . }}
<tr>
    <td>{{ .ID }}</td>
    <td> {{ .Username }} </td>
    <td>{{ .EmailId }} </td>
    <td><a href="/show?id={{ .Id }}">View</a></td>
    <td><a href="/edit?id={{ .Id }}">Edit</a></td>
    <td><a href="/delete?id={{ .Id }}">Delete</a><td>
</tr>
{{ end }}
</tbody>
</table>
        {{ template "Footer" }}
        {{ end }}
