{{ define "New" }}
        {{ template "Header" }}
        {{ template "Menu" }}
<h2>Create Account</h2>
<form method="POST" action="services.CreateUser">
<label> UserName </label><input type="text" name="username" /><br />
<label> EmailId </label><input type="text" name="emailId" /><br />
<input type="submit" value="Save user" />
</form>
        {{ template "Footer" }}
        {{ end }}